{% extends 'main.html' %}


{% block content %}
<h5>Hi select the country where you like will see information about Covid-19</h3>
<div class="input-group mb-3">
    <div class="input-gruop prepend">
        <button class="btn btm-outline-secondary dropdown-toggle" type="button" data="dropdown" aria-haspopup="true" aria-expanded="false">Conutries</button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#"></a>
        </div>
    </div>

</div>
{% endblock content %}