{% extends 'main.html' %}
{% load static %}
{% load svg %}

{% block content %}
<div class="row">
<div class="col">
<div class="container-table">
<h5>There all countries covid-19 cases</h3>
    <div class="card" style="width: 1000px;">
    <table class="table">
        <thead class="head-style">
          <tr>
            <!-- <th style="color: white;" scope="col">#</th> -->
            <th style="color: white;" scope="col">Country</th>
            <th style="color: white;" scope="col">Confirmed</th>
            <th style="color: white;" scope="col">Active</th>
            <th style="color: white;" scope="col">Deaths</th>
            <th style="color: white;" scope="col">Recovered</th>
            <th style="color: white;" scope="col">Latitude</th>
            <th style="color: white;" scope="col">Longitude</th>
            <th style="color: white;" scope="col">Last update</th>
            <th style="color: white;" scope="col">More Info</th>
            
          </tr>
        </thead>
            
        <tbody>
            {% for country in countries %}
            <tr  class=tr-style>
              
            <!-- <th scope="row">{{forloop.counter}}</th> -->
            <td >{{country.country}}</td>
            <td>{{country.confirmed}}</td>
            <td>{{country.active}}</td>
            <td>{{country.deaths}}</td>
            <td>{{country.recovered}}</td>
            <td>{{country.latitude}}</td>
            <td>{{country.longitude}}</td>
            <td>{{country.last_update}}</td>
            <td><a href="{% url 'country_view' country.id %}" class="btn btn-primary">GO!</a></td>
          </tr>
          {% endfor %}
          
        </tbody>
      </table>

      <div class="text-xs-center">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          {% if countries.has_previous%}
            <li class="page-item"><a class="page-link" href="?page={{ countries.previous_page_number }}">Previous</a></li>
          {% endif %}

          {% for i in countries.paginator.page_range %}
              {% if countries.number == i %}
                <li class="page-item active" aria-current="page">
                  <span class="page-link">
                  {{i}}
                  <span class="sr-only">(current)</span>
                  </span>
                </li>
              {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{i}} 
                  <span class="sr-only">(current)</span> </a></li>
              {% endif %}
          {% endfor %}
          {% if countries.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ countries.next_page_number }}">Next</a></li>
          {% endif %}
        </ul>
      </nav>
      </div>
      </div>
    
      <br>
      <h2>Top five of cases in the world</h2>
      <div class="top-ten" >{% svg 'top_five' %}</div>
    
    </div>
  </div>
  
  <br>
  
      <style>
        * {
          font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        .pagination{
          margin-left: 2.5em;
        }
        
        .head-style {
          background-color: #336B87;
        }
        .tr-style {
          background-color: #DCD3FF;
        }
        .card {
          background-color: #336B87
        }
        .page-link {
          color: black;
        }
        .data-info {
          font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        .top-ten {
          width: 1000px;
          height: 500px;
        }
        .container-table {
          margin-left: 4em;
        }
        
      </style>
      
{% endblock content %}